<section class="col-md-8 col-sm-8 col-xs-12 content">
    <div class="col-md-12 col-sm-12 col-xs-12 event-block">
        <div class="col-md-4 col-sm-4 col-xs-5 left-panel">
            <div class="profile-image top-left">
                <img class="img-thumbnail img-circle" src="img/10354686_10150004552801856_220367501106153455_n.jpg" />
            </div>
            <div class="text-left date-text text-justify">
                12.04.2015 asd asd asd asd asd asd
            </div>
            <div class="text-left left-panel-text">
                asd asd asd asd asd asd
            </div>
        </div>
        <div class="col-md-8 col-sm-8 col-xs-7 right-panel" style="background: url('img/1380265.jpg')">
            <div class="event-text col-md-12 col-sm-12 col-xs-12">
                Tytuł wydarzenia
            </div>
            <div class="event-buttons col-md-12 col-sm-12 col-xs-12 text-right">
                <button class="btn btn-primary right">Dołącz do wydzrzenia!</button>
                <button class="btn btn-info">Zobacz więcej!</button>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12 event-block">
        <div class="col-md-4 col-sm-4 col-xs-5 left-panel">
            <div class="profile-image top-left">
                <img class="img-thumbnail img-circle" src="img/10354686_10150004552801856_220367501106153455_n.jpg" />
            </div>
            <div class="text-left date-text text-justify">
                12.04.2015 asd asd asd asd asd asd
            </div>
            <div class="text-left left-panel-text">
                asd asd asd asd asd asd
            </div>
        </div>
        <div class="col-md-8 col-sm-8 col-xs-7 right-panel" style="background: url('img/1380265.jpg')">
            <div class="event-text col-md-12 col-sm-12 col-xs-12">
                Tytuł wydarzenia
            </div>
            <div class="event-buttons col-md-12 col-sm-12 col-xs-12 text-right">
                <button class="btn btn-primary right">Dołącz do wydzrzenia!</button>
                <button class="btn btn-info">Zobacz więcej!</button>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12 event-block">
        <div class="col-md-4 col-sm-4 col-xs-5 left-panel">
            <div class="profile-image top-left">
                <img class="img-thumbnail img-circle" src="img/10354686_10150004552801856_220367501106153455_n.jpg" />
            </div>
            <div class="text-left date-text text-justify">
                12.04.2015 asd asd asd asd asd asd
            </div>
            <div class="text-left left-panel-text">
                asd asd asd asd asd asd
            </div>
        </div>
        <div class="col-md-8 col-sm-8 col-xs-7 right-panel" style="background: url('img/1380265.jpg')">
            <div class="event-text col-md-12 col-sm-12 col-xs-12">
                Tytuł wydarzenia
            </div>
            <div class="event-buttons col-md-12 col-sm-12 col-xs-12 text-right">
                <button class="btn btn-primary right">Dołącz do wydzrzenia!</button>
                <button class="btn btn-info">Zobacz więcej!</button>
            </div>
        </div>
    </div>
</section>