body {
    padding: 0;
    background-image: url(/Content/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #fefefe;
}

.wrapper {
    margin: 0 auto;
}

header {
  background-color: #333;
  color: #fff;
  overflow: hidden;
  height: 60px;
}

.user-panel {
  float: right;
  height: 100%;
}

right {
    float: right;
}

left {
    float: left;
}

header ul {
  list-style: none;
  height: 100%;
}

header li {
  display: block;
  float: left;
  height: 100%;
  line-height: 60px;
  padding-left: 15px;
}

header a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s linear;
}

header a:hover {
    color: #999;
    text-decoration: none;
}

header .logo {
  height: 100%;
  line-height: 60px;
  font-size: 22pt;
  text-transform: uppercase;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  float: left;
}

.search-box {
  overflow: hidden;
  width: 450px;
  margin: 0;
  display: inline-block;
  height: 100%;
}